@font-face {
    font-family: "Original";
    src: url("../fonts/Original-Light.woff2") format("woff2"),
        url("../fonts/Original-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont-LightItalic.woff2") format("woff2"),
        url("../fonts/Mont-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont-Regular.woff2") format("woff2"),
        url("../fonts/Mont-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont-Light.woff2") format("woff2"),
        url("../fonts/Mont-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont-SemiBold.woff2") format("woff2"),
        url("../fonts/Mont-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
